.close { border:none; display:block;float:right;  width:20px;height:20px; background:url(https://campress.sharepoint.com/TeamApplications/closeicon.png) no-repeat center center;} /*/src/webparts/ourApplications/static/closeicon.png*/

.application-list {
    list-style-type: none;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close-modal {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close-modal:hover {
    background: #00d9ff;
}

a.ms-Button-label {color:#ffffff;}      /* unvisited link */
a.ms-Button-label:visited {color:#ffffff}  /* visited link */
a.ms-Button-label:hover {color:#ffffff;}  /* mouse over link */
a.ms-Button-label:active {color:#ffffff;}  /* selected link */

/*Style for Buttons because office fabric ui is not working*/
.ms-Button.ms-Button--primary {
    outline: transparent;
    position: relative;
}

.ms-Button.ms-Button--primary {
    min-width: 80px;
    background-color: #0078d7;
    border-color: #0078d7;
    color: #ffffff;
}

.ms-Button {
    outline: transparent;
    position: relative;
}

.ms-Button {
    font-family: "Segoe UI WestEuropean","Segoe UI","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;
}