<style>
    .close { display:block;float:right;  width:20px;height:20px; background:url(https://cupdev.sharepoint.com/sites/DevIntranet/SiteAssets/TeamApplications/closeicon.png) no-repeat center center;} /*/src/webparts/ourApplications/static/closeicon.png*/

    .application-list {
        list-style-type: none;
    }

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }
    .close-modal {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close-modal:hover {
        background: #00d9ff;
    }

    a.ms-Button-label {color:#ffffff;}      /* unvisited link */
    a.ms-Button-label:visited {color:#ffffff}  /* visited link */
    a.ms-Button-label:hover {color:#ffffff;}  /* mouse over link */
    a.ms-Button-label:active {color:#ffffff;}  /* selected link */

     /*Style for Buttons because office fabric ui is not working*/
     .ms-Button.ms-Button--primary {
        outline: transparent ;
        position: relative;
    }

    .ms-Button.ms-Button--primary {
        min-width: 80px ;
        background-color: #0078d7;
        border-color: #0078d7;
        color: #ffffff;
    }

    .ms-Button {
        font-family: "Segoe UI WestEuropean","Segoe UI","Helvetica Neue",sans-serif ;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-width: 0;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        padding: 0 16px;
    }
</style>

<div>
    <div class="app-heading">
        <div class="ms-font-su ms-fontColor-themePrimary" style="float:left"> {{name}}</div>
        <div style="clear:both"></div> 
    </div>
</div>
<div [ngSwitch]='loading'>
    <div *ngSwitchCase="'init'">
        <app-loading></app-loading>
    </div>
    <div *ngSwitchCase="'error'">
        <div class="app-loading">
            <app-notify msgText="Unable to connect the back-end services !!!"></app-notify>
        </div>
    </div>
    <div *ngSwitchCase="'done'">
        <div>
            <div style="float:left;padding:10px" *ngFor="let item of Applications">
                
                <div *ngIf=item.ShowInPage> 
                    <div class="widget"> 
                        <a href="#" target="_blank"> <img src="{{item.PictureUrl}}" /> </a>
                    </div>  
                </div>                        
            </div>
            <div style="clear:both"></div>
        </div>
        <button (click)="manageWidgets();" class="ms-Button ms-Button--primary">
            <span class="ms-Button-label">Manage Widgets</span>
        </button>
    </div>
    <div *ngSwitchCase="'manage'">
        <div>
            <div style="float:left;padding:10px" *ngFor="let item of Applications">
                
                <div *ngIf=item.ShowInPage> 
                    <div class="widget" #applicationWidget> 
                        <button class="close" (click)="hideItem(item); applicationWidget.remove()"></button>
                        <a href="#" target="_blank"> <img src="{{item.PictureUrl}}" /> </a>
                    </div> 
                  
                </div>           
            </div>
         
            <div style="clear:both"></div>
        </div>
        <!--<button (click)="addApp();" class="ms-Button ms-Button--primary">
            <span class="ms-Button-label" >Add Application</span>
        </button>-->
        <a href="#openModal" class="ms-Button ms-Button--primary"><span class="ms-Button-label" >Add Application</span> </a>
        <button (click)="saveModChange();" class="ms-Button ms-Button--primary">
            <span class="ms-Button-label">Done</span>
        </button>
    </div>
    <div id="openModal" class="modalDialog">
        <div>	
            <a href="#close" title="Close" class="close-modal">X</a>
            <p> Choose Applications to add: </p>
             <div *ngFor="let item of Applications">
                
                <div *ngIf=!item.ShowInPage> 
                    <ul class="widget"> 
                        <li class="application-list"> <input type="checkbox" name="item.Title" value="item.Id" (change)="addRemoveApplication(item,$event)"> {{item.Title}}<br></li> 
                    </ul>  
                </div>                        
            </div>
            <a href="#close">
            <button (click)="addApp();" class="ms-Button ms-Button--primary">
                <span class="ms-Button-label" >Add</span> 
            </button>
            </a>
        </div>
    </div>

</div>